.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-slides-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel-slide {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 300px; /* Adjusted to ensure images are properly visible */
}

.carousel-slide picture {
  width: 100%;
  height: auto;
}

.carousel-slide picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-slide-content {
  z-index: 1;
  margin: 68px;
  padding: 16px;
  color: white;
  background-color: rgba(19 19 19 / 75%);
  position: relative;
  text-align: center;
}

/* Additional CSS for aligning text to top-left for second slide */
.carousel-slide:nth-child(2) .carousel-slide-content {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.carousel-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  background-color: var(--light-color);
  line-height: 0;
  position: absolute;
  bottom: 12px;
  width: 100%;
}

.carousel-slide-indicator button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #dadada;
  transition: background-color 0.2s;
}

.carousel-slide-indicator button:disabled,
.carousel-slide-indicator button:hover,
.carousel-slide-indicator button:focus-visible {
  background-color: #0000ff; /* Blue color for active dot */
}
